<div class="row g-5 mb-5">
  <div>
    <h2 class="fw-bold border-bottom pb-3 mb-5">Contact</h2>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <p> {{ content }}</p>
        <h2 class="title"><a href="mailto:dyl.amh@proton.me">dyl.amh [at] proton [dot] me</a></h2>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/contact.jpg" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
