<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-touch-icon.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&family=Source+Sans+Pro:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet">
  <style>
    .wrapingimage
    {
    float:left;
    margin:30px 12px 3px 4px;
    border: 2px solid blue;
    }
    </style>  
</head>
