$background: linear-gradient(0deg, #f4defc 0%, #ffffff 76.84%);


$bodyColor: #462346;
$bodyFont: 'Space Grotesk', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$headerFont: 'DM Sans', sans-serif, 'Open Sans', sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #462346!important;
$headerColor: #462346;

$primary: #462346;

.title {
  font-family: $headerFont;
  color: $headerColor;
}

body {
  background: $background;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 17px;
}

body a {
  color: $linkColor
}

h2 {
  font-family: $headerFont;
  color: $headerColor;
  }

  h3 {
    font-family: $headerFont;
    color: $headerColor;
    }