$background: linear-gradient(180deg, #ecc9ff 0%, #ffdfff 25.48%);
$bodyColor: #2A3165;
$bodyFont: 'Inter', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$headerFont: 'Playfair Display', serif, 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #2A3165!important;
$headerColor: #21330d;

.title {
  font-family: $headerFont;
  color: $headerColor;
}

body {
  background: $background;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}
