$background: linear-gradient(180deg, #e0ffab 0%, #ced5fc 100%);
$bodyColor: #2A3165;
$bodyFont: 'Open Sans', sans-serif, 'Josefin Sans', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$headerFont: 'Playfair Display', sans-serif, 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #2A3165!important;
$headerColor: #FF6392;

.title {
  font-family: $headerFont;
  color: $headerColor;
}

body {
  background: $background;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}
