---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <div>
      <h2 class="fw-bold pb-3 mb-5 title">Selected Poetry</h2>
        {% for item in site.data.publications.poetry %}
        {% if item.url %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% else %}
        <p>{{ item.name }}</p>
      {% endif %}
        {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/dylan_mcnulty_holmes_writing.jpg" alt="Dylan McNulty-Holmes: Writing" width="100%">
  </div>
</div>


<div>
    <h2 class="fw-bold pb-3 mb-5 title">Selected Fiction</h2>
      {% for item in site.data.publications.fiction %}
        {% if item.url %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
        {% else %}
          <p>{{ item.name }}</p>
        {% endif %}
      {% endfor %}
      <br>
  </div>

  <div>
    <h2 class="fw-bold pb-3 mb-5 title">Selected Non-Fiction</h2>
      {% for item in site.data.publications.nonfiction %}
        {% if item.url %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
        {% else %}
          <p>{{ item.name }}</p>
        {% endif %}
      {% endfor %}
  </div>