---
layout: default
---

{{ content }}

<div>
  <h2 class="fw-bold border-bottom pb-3 mb-5 title">FORTHCOMING</h2>
    {% for item in site.data.publications.forthcoming %}
      <p>{{ item.name }}</p>
      <br>
      <br>
    {% endfor %}
</div>

<div>
  {% include featured_publications.html %}
  <br>
  <br>
  </div>

<div>
    <h2 class="fw-bold border-bottom pb-3 mb-5 title">SELECTED PREVIOUS (2014-2019)</h2>
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
  </div>