---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {% include featured_publications.html %}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/dylan_mcnulty_holmes_writing.jpg" alt="Dylan McNulty-Holmes: Writing" width="100%">
  </div>
</div>


<div>
  <h2 class="fw-bold pb-3 mb-5 title">FORTHCOMING</h2>
    {% for item in site.data.publications.forthcoming %}
      <p>{{ item.name }}</p>
    {% endfor %}
    <br>
    <br>
</div>


<div>
    <h2 class="fw-bold pb-3 mb-5 title">SELECTED PREVIOUS (2014-2019)</h2>
      {% for item in site.data.publications.index %}
        {% if item.url %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
        {% else %}
          <p>{{ item.name }}</p>
        {% endif %}
      {% endfor %}
  </div>